AUTOMATIONS/n8n_workflows/w22_ab_test_collector.json
{
  "name": "PRINTMAXX - A/B Test Engagement Collector + Winner Detector",
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      }
    },
    {
      "name": "Set Platform Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Define platforms and content IDs to track\nconst platforms = [\n  {\n    name: 'twitter',\n    endpoint: 'https://api.twitter.com/2/tweets',\n    contentIds: [],  // Populate with tweet IDs to track\n    metrics: ['impression_count', 'like_count', 'reply_count', 'retweet_count', 'url_link_clicks']\n  },\n  {\n    name: 'gumroad',\n    endpoint: 'https://api.gumroad.com/v2/products',\n    contentIds: [],  // Populate with product IDs\n    metrics: ['sales_count', 'views_count', 'conversion_rate']\n  },\n  {\n    name: 'landing_pages',\n    endpoint: '',  // Uses Google Analytics or Plausible\n    contentIds: [],  // Populate with page paths\n    metrics: ['pageviews', 'bounce_rate', 'avg_time', 'conversions']\n  }\n];\n\nconst collectionTime = new Date().toISOString();\nconst results = platforms.map(p => ({\n  json: { ...p, collectionTime }\n}));\n\nreturn results.length > 0 ? results : [{ json: { name: 'none', contentIds: [], metrics: [], collectionTime } }];"
      }
    },
    {
      "name": "Collect Twitter Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://api.twitter.com/2/tweets?ids={{ $json.contentIds.join(',') }}&tweet.fields=public_metrics,organic_metrics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.twitterBearerToken}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "name": "Collect Gumroad Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400],
      "parameters": {
        "method": "GET",
        "url": "https://api.gumroad.com/v2/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.gumroadAccessToken}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst timestamp = new Date().toISOString();\n\nconst aggregated = items.map(item => {\n  const data = item.json;\n  return {\n    json: {\n      platform: data.name || 'unknown',\n      metrics: data.data || data.products || data,\n      collectedAt: timestamp,\n      raw: JSON.stringify(data).substring(0, 2000)\n    }\n  };\n});\n\nreturn aggregated.length > 0 ? aggregated : [{ json: { platform: 'none', metrics: {}, collectedAt: timestamp } }];"
      }
    },
    {
      "name": "Save to Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1050, 300],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_AB_TEST_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "MetricsLog"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "name": "Detect Winners",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{$credentials.anthropicApiKey}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these engagement metrics across platforms. Identify clear winners (2x+ outperformance) and recommend which content to scale up. Return JSON: {\\\"winners\\\": [{\\\"platform\\\": \\\"...\\\", \\\"content_id\\\": \\\"...\\\", \\\"metric\\\": \\\"...\\\", \\\"value\\\": 0, \\\"vs_avg\\\": 0}], \\\"scale_up\\\": [\\\"recommendation 1\\\"], \\\"kill\\\": [\\\"underperformer 1\\\"]}\\n\\nMetrics: {{ JSON.stringify($json).substring(0, 3000) }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "name": "Parse Winners",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const aiResponse = $input.item.json;\nlet analysis = {};\ntry {\n  const content = aiResponse.content?.[0]?.text || '{}';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch(e) {\n  analysis = { winners: [], scale_up: [], kill: [] };\n}\n\nconst winners = analysis.winners || [];\nconst hasWinners = winners.length > 0;\n\nreturn [{\n  json: {\n    hasWinners,\n    winnersCount: winners.length,\n    winners,\n    scaleUp: analysis.scale_up || [],\n    kill: analysis.kill || [],\n    analyzedAt: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "name": "Has Winners?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "winner_check",
              "leftValue": "={{ $json.hasWinners }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Alert Winners",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1850, 200],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=A/B TEST WINNERS DETECTED\n\nWinners: {{ $json.winnersCount }}\n\nScale Up:\n{{ $json.scaleUp.map((s, i) => `${i+1}. ${s}`).join('\\n') }}\n\nKill:\n{{ $json.kill.map((k, i) => `${i+1}. ${k}`).join('\\n') }}\n\nTime: {{ $json.analyzedAt }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram_cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Set Platform Config", "type": "main", "index": 0}]]
    },
    "Set Platform Config": {
      "main": [
        [
          {"node": "Collect Twitter Metrics", "type": "main", "index": 0},
          {"node": "Collect Gumroad Metrics", "type": "main", "index": 0}
        ]
      ]
    },
    "Collect Twitter Metrics": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Collect Gumroad Metrics": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Aggregate Results": {
      "main": [[{"node": "Save to Tracking Sheet", "type": "main", "index": 0}]]
    },
    "Save to Tracking Sheet": {
      "main": [[{"node": "Detect Winners", "type": "main", "index": 0}]]
    },
    "Detect Winners": {
      "main": [[{"node": "Parse Winners", "type": "main", "index": 0}]]
    },
    "Parse Winners": {
      "main": [[{"node": "Has Winners?", "type": "main", "index": 0}]]
    },
    "Has Winners?": {
      "main": [
        [{"node": "Alert Winners", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {"name": "PRINTMAXX"},
    {"name": "analytics"},
    {"name": "ab-testing"},
    {"name": "P1"}
  ]
}